.site-hero__friend
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-image: url(/img/friend__bgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 85px 0px 85px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 60px;
}

.friend__right
{
    max-width: 50%;
    text-align: end;
    flex: 1;
}

.friend__rightTitle
{
    font-weight: 800;
    font-size: 52px;
    line-height: 68px;
    text-transform: capitalize;
    color: #003459;
}

.friend__rightTitle2
{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: #003459;
}

.friend__rightText
{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #242B33;
    padding-left: 35px;
    margin-bottom: 24px;
}

.site-hero__friendBtn   
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.heroFriendBtn__view
{
    border: 1.5px solid #003459;
    border-radius: 57px;
    padding: 12px 28px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    transition: .3s;
    &::after
    {
        content: "";
        display: inline-block;
        width: 12px;        
        height: 12px;
        background-image: url(/img/selectIcon.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 16px;
    }
    &:hover
    {
        border: .1px solid rgba(0, 0, 0, 0.234);
        box-shadow: 0 0 15px #000;
    }
}

.heroFriendBtn__explore
{
    width: 163px;
    height: 48px;
    background: #003459;
    border-radius: 57px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
}

@media screen and (max-width:1000px) {
    .site-hero__friend
    {
        height: 640px;
        background-image: url(../../img/friendMedia.png);
        flex-direction: column;
        text-align: start;
    }

    .friend__left
    {
        width: 450px;
        margin: 0 auto;
    }
    .friend__right
    {
        max-width: 100%;
        text-align: center;
    }

    .heroFriendBtn__view
    {
        width: 163px;
        height: 48px;
        padding: 12px 16px;
    }
    .site-hero__friendBtn
    {
        justify-content: center;
        align-items: flex-start;
        margin-top: 32px;
        gap: 15px;
    }
    .friend__rightTitle
    {
        font-size: 36px;
        line-height: 54px;
    }
    .friend__rightTitle2
    {
        font-size: 24px;
        line-height: 36px;
    }
    .friend__rightText
    {
        width: 390px;
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
}

@media screen and (max-width:500px) {
    .site-hero__friend
    {
        padding: 20px 20px 0 20px;
        text-align: start;
    }

    .friend__left
    {
        width: 315px;
    }
    .heroFriendBtn__view
    {
        width: 170px;
        height: 48px;
        &::after
        {
            margin-left: 0px;
        }
    }
    .friend__rightTitle
    {
        font-size: 30px;
    }
    .friend__rightTitle2
    {
        font-size: 22px;
    }
    .friend__rightText
    {
        width: 100%;
        text-align: start;
        align-items: flex-start;
        padding: 0 15px;   
    }
}