.site-hero__block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.site-hero__text
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 2px;
}

.site-hero__title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #003459;
}

.site-hero__BottomBtn
{
    width: 100%;
    display: none;
}
.site-hero__topBtn
{
    border: 1.5px solid #003459;
    border-radius: 57px;
    padding: 12px 28px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    transition: .3s;
    &::after
    {
        content: "";
        display: inline-block;
        width: 12px;        
        height: 12px;
        background-image: url(/img/selectIcon.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 16px;
    }
    &:hover
    {
        border: .1px solid rgba(0, 0, 0, 0.234);
        box-shadow: 0 0 15px #000;
    }
}

.site-hero__blockList
{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.blockItem
{
    width: 280px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FDFDFD;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 8px;
    transition: .3s;
    &:hover
    {
        box-shadow: 0px 4px 40px -2px rgba(0, 0, 0, 0.601);

    }
}

.blockItem__img
{
    width: 264px;    
    height: 264px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
}

.blockItem__title
{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #00171F;
    margin-bottom: 4px;
}

.blockItem__text
{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #667479;
}

.blockItem__title2
{
    margin-bottom: 4px;
}

@media screen and (max-width:800px) {
    .site-hero__block
    {
        flex-direction: column;
        align-items: start;
    }

    .site-hero__topBtn
    {
        display: none;
    }
    .site-hero__BottomBtn
    {
        display: inline-block;
        margin-bottom: 40px;
    }
    .site-hero__title
    {
        font-size: 30px;
    }
    .site-hero__blockList
    {
        margin-bottom: 16px;
    }
}

.blockBottom
{
    width: 380px;    
    height: auto;
}

.blockBottom__img
{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
}

.block__bottomBtn
{
    width: 89px;
    height: 20px;
    background: #00A7E7;
    border-radius: 28px;

    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: #FDFDFD;
    border: none;
    margin-bottom: 10px;
}

.block__bottomText
{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #242B33;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width:1000px) {
    .blockBottom2
    {
        display: none;
    }
    .blockBottom3
    {
        display: none;
    }
}

.site-hero__innerBtn
{
    width: 248px;
    height: 34px;
    background-color: #FCEED5;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    gap: 10px;
    padding: 0 10px;
    &::before
    {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(/img/prize.svg);
        display: inline-block;
    }
}

.site-hero__texts2
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.block__innericon
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blockItem__img2
{
    width: 88px;
    height: 64px;
    background-image: url(../../img/logo-4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.blockItem__img5
{
    background-image: url(../../img/logo-5.svg);
}

.blockItem__img6
{
    background-image: url(../../img/logo-6.svg);
}
.blockItem__img7
{
    background-image: url(../../img/logo-7.svg);
}
.blockItem__img8
{
    background-image: url(../../img/logo-8.svg);
}
.blockItem__img9
{
    background-image: url(../../img/logo-9.svg);
}
.blockItem__img10
{
    background-image: url(../../img/logo-10.svg);
}

@media screen and (max-width:1000px) {
    .site-hero__top2
    {
        display: none;
    }
}